@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Ubuntu", sans-serif;
}

canvas {
    max-width: 100%;
}

.my-container {
    max-width: 1500px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 32px;
    padding-right: 32px;
}

.my-box-shadow {
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.1);
}

.glasses-effect {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.33);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.5px);
    -webkit-backdrop-filter: blur(11.5px);
}

@media screen and (max-width: 768px) {
    .my-container {
        padding-left: 16px;
        padding-right: 16px;
    }
}

/* for active Link  */
.active {
    color: #539df3;
}

.active.settings-navigation-active {
    color: #fff;
    background-color: #2563eb;
}

:hover .active.settings-navigation-active {
    background-color: #2563eb;
}

.dark .active {
    color: #fff;
}

.dark .active.settings-navigation-active {
    color: #fff;
    background-color: #2563eb;
    opacity: 1;
}

/* for global timeline  */
.timeline > span {
    background-color: #9ca3af;
}
.dark .timeline > span {
    background-color: #303b50;
}

@media screen and (max-width: 640px) {
    .dark .active.settings-navigation-active {
        box-shadow: 20px 20px 60px #1f54c8, -20px -20px 60px #2b72ff;
    }
}

.main-bg {
    background: rgb(36, 39, 115);
    background: linear-gradient(
        135deg,
        rgba(36, 39, 115, 1) 37%,
        rgba(23, 24, 54, 1) 63%
    );
}

/* for scrolling */
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background: #2563eb;
    border: 0px none #ffffff;
}
::-webkit-scrollbar-thumb:hover {
    background: #346adf;
}
::-webkit-scrollbar-thumb:active {
    background: #2563c8;
}
::-webkit-scrollbar-track {
    background: #abaaaa;
    border: 0px none #abaaaa;
}
::-webkit-scrollbar-track:hover {
    background: #abaaaa;
}
::-webkit-scrollbar-track:active {
    background: #abaaaa;
}
::-webkit-scrollbar-corner {
    background: transparent;
}
